version: '3.8'

services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    environment:
      - MONGO_URL=${MONGO_URL}
      - DB_NAME=${DB_NAME}
      - GOOGLE_DRIVE_CREDENTIALS=${GOOGLE_DRIVE_CREDENTIALS}
      - GOOGLE_GENERATIVE_AI_KEY=${GOOGLE_GENERATIVE_AI_KEY}
    depends_on:
      - mongodb
    networks:
      - km-legal-network

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    depends_on:
      - backend
    networks:
      - km-legal-network
    environment:
      - REACT_APP_API_URL=http://backend:8000

  mongodb:
    image: mongo:latest
    ports:
      - "27017:27017"
    environment:
      - MONGO_INITDB_ROOT_USERNAME=root
      - MONGO_INITDB_ROOT_PASSWORD=password
    volumes:
      - mongodb_data:/data/db
    networks:
      - km-legal-network

volumes:
  mongodb_data:

networks:
  km-legal-network:
    driver: bridge
